/*Color Palette
#a4a4a4 - gray
#565454 - dark gray
#b061a1 - purple
#ffffff - white
#e9e6e6 - pearl white
---------------------------*/


/**Navigation*/

nav {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    width: 100%;
    background-color: none;
}

    nav a {
        display: inline-block;
        padding: 15px 20px;
        text-decoration: none;
        text-transform: lowercase;
        color: #e9e6e6;
        font-family: ebrima, sans-serif, monospace;
        font-size: 20px;
    }

        nav a:hover {
            color: #b061a1;
            text-decoration: none;
        }


/*About & Work Sections*/
.heading-topics {
    text-align: center;
    font-size: 35px;
    font-family: ebrima, arial, sans-serif;
    font-weight: 700;
    color: #a4a4a4;
    margin-top: 40px;
    margin-bottom: 0;
}

#about .col-lg-12 {
    margin-top: 40px;
    font-size: 30px;
    font-family: monotype corsiva, sanchez, serif;
    color: #6d6c6c;
    text-align: center;
}

.about-text {
    text-align: center;
    font-size: 20px;
    color: #9C9990;
    font-family: ebrima, arial, helvetica, sans-serif;
    width: 500px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

hr.lines {
    text-align: center;
    width: 100px;
    border-top: 1px solid #a4a4a4;
    margin-top: 15px;
}

hr.thick-line {
    width: 100%;
    border-top: 125px solid #767575;
    margin-bottom: 0;
}

.diamonds .col-lg-2 {
    /*margin-bottom: -125px;*/
    margin-left: 20px;
}

.diamonds {
    width: 1000px;
    margin: auto;
}

.circle-img {
    display: block;
    margin: auto;
}
.bubbles {
    font-family: ebrima, arial, helvetica, sans-serif;
    font-size: 15px;
    color: #a4a4a4;
    text-align: center;
    margin-top: 0;
}
#portfolio .lines {
    margin-top: 20px;
    margin-bottom: 60px;
}

#portfolio {
    margin-top: 40px;
}

.work-headings {
    text-align: center;
    font-size: 17px;
    color: #a4a4a4;
    font-family: ebrima, arial, helvetica, sans-serif;
    margin: 5%;
    font-weight: 400;
    padding-bottom: 30px;
}

a h3:hover {
    color: #b061a1;
}

a:hover {
    color: #b061a1;
}

#work {
    width: 860px;
    margin: auto;
}

/*Footer*/
footer {
    background-color: white;
    text-align: center;
}

.fa:hover {
    color: #b061a1;
}

.fa {
    color: #e9e6e6;
    font-size: 18px;
}

.footer-copywrite {
    font-size: 12px;
    color: #ADA0A6;
    font-family: ebrima, arial, helvetica, sans-serif;
}

/*Contact Form*/
#contact {
    background-color: #a4a4a4;
}

#contact .heading-topics {
        color: #f1efef;
    }

.white-lines {
    text-align: center;
    width: 100px;
    border-top: 1px solid #f1efef;
    margin-top: 15px;
    margin-bottom: 60px;
}

#contact-form {
    background-color: #a4a4a4;
}

    #contact-form input[type="text"],
    #contact-form input[type="email"],
    #contact-form textarea {
        width: 100%;
        box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
        -webkit-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
        -moz-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
        border: 1px solid #CCC;
        margin: 10px 0 20px 0px;
        padding: 5px;
        border-radius: 5px;
        font-family: ebrima, arial, helvetica, sans-serif;
        font-weight: 300;
        color: #565454;
    }

label > span {
    color: #e9e6e6;
    font-family: ebrima, arial, helvetica, sans-serif;
    font-weight: 400;
    margin: 20px 0 20px 0px;
    font-size: 18px;
}

label {
    display: block !important;
}

#contact-form button[type="submit"] {
    cursor: pointer;
    width: 20%;
    border: 1px solid #FFF;
    /*background-image: linear-gradient(bottom,#e9e6e6 0%, #b061a1 62%);
    background-image:-moz-linear-gradient(bottom, #e9e6e6 0%, #b061a1 62%);
    background-image:-webkit-linear-gradient(bottom, #e9e6e6 0%, #b061a1 62%);*/
    background-color: #b061a1;
    color: #e9e6e6;
    margin: 0 0 75px 0px;
    padding: 5px;
    border-radius: 5px;
    font-family: ebrima, arial, helvetica, sans-serif;
}

.contact-paragraph {
    width: 300px;
    color: #e9e6e6;
    margin: 75px 0 40px 60px;
    font-family: ebrima, arial, helvetica, sans-serif;
    font-size: 18px;
}

.content-wrap {
    margin: 0px 0 50px 60px;
    color: #e9e6e6;
    font-family: ebrima, arial, helvetica, sans-serif;
    font-size: 15px;
}

.footer-copywrite {
    margin-top: 0;
    margin-left: 0px;
    color: #e9e6e6;
}

@media (min-width: 768px) {
    .mobile-img {
        display: none;
    }
}
/*Media Queries - Mobile*/
@media (max-width: 450px) {
    nav {
        text-align: center;
        padding-top: 10px;
        padding-right: 0px;
        padding-left: 0;
        width: 380px;
    }

        nav a:hover {
            background-color: #b061a1;
            color: #e9e6e6;
            border-radius: 3px;
        }

        nav a {
            padding: 10px 10px;
        }

    .desktop-img {
        display: none;
    }

    .about-text {
        font-size: 20px;
        width: 75%;
        margin-bottom: 10px;
    }

    .diamonds img {
        margin-bottom: 50px;
        text-align: center;
    }

    .work-headings {
        text-align: center;
        width: 250px;
        font-size: 18px;
        margin-bottom: 10px;
    }

    #work img {
        margin-left: 20px;
    }

    .contact-paragraph {
        margin-top: 0;
        margin-left: 10px;
    }

    .content-wrap {
        margin-top: 0;
        margin-left: 10px;
    }

    .footer-copywrite {
        margin-top: 0;
        margin-left: 0px;
        color: #e9e6e6;
    }
}
/*contact form*/

.field {
    color: #e9e6e6;
    font-family: ebrima, arial, helvetica, sans-serif;
    font-size: 16px;
}
