/*Color Palette
#a4a4a4 - gray
#565454 - dark gray
#6a6363 - brown
#b061a1 - purple
#ffffff - white
#e9e6e6 - pearl white
---------------------------*/
html,body
{
    width: 100%;
    padding:0;
    overflow-x: hidden; 
}

/**Navigation*/

.navbar-fixed-top.scrolled {
  background-color: #b061a1 !important;
  transition: background-color 200ms linear;
  color:#e9e6e6 !important;
  padding-top: 0 !important;
 
}
nav {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    width: 100%;
    background-color: none;
    
}

nav a {
     display: inline-block;
     padding: 15px 20px;
     text-decoration: none;
     text-transform: lowercase;
     color: #e9e6e6;
     font-family: ebrima, sans-serif, monospace;
     font-size: 20px;
}

nav a:hover {
     color: #a4a4a4;
     text-decoration: none;
}

/*About & Work Sections*/
.heading-topics {
    text-align: center;
    font-size: 35px;
    font-family: ebrima, arial, sans-serif;
    font-weight: 700;
    color: #6a6363;
    margin-top: 40px;
    margin-bottom: 0;
}

#about .col-lg-12 {
    margin-top: 40px;
    font-size: 30px;
    font-family: monotype corsiva, sanchez, serif;
    color: #6d6c6c;
    text-align: center;
    
}
.col-lg-12 {
    padding: 0 !important;
}
hr.lines {
    text-align: center;
    width: 100px;
    border-top: 1px solid #a4a4a4;
    margin-top: 15px;
}

.about-text {
    text-align: center;
    font-size: 20px;
    color: #6d6c6d;
    font-family: ebrima, arial, helvetica, sans-serif;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.icon-section .row {
    
    margin-left: 20px;
}
.circle-img {
    display: block;
    margin: auto;
}
.bubbles {
    font-family: Bell MT, serif;
    font-size: 20px;
    font-weight: 700;
    color: #6d6c6d;
    text-align: center;
    margin-top: 0;
}

.bubble-para {
    font-family: ebrima, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #6d6c6d;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
.woods {
    margin-top: 50px;
    margin-bottom: 50px;
}

.woods-mobile {
    margin-top: 50px;
    margin-bottom: 50px;
}
#portfolio .lines {
    margin-top: 20px;
    margin-bottom: 60px;
}

#work .work-img {
   margin-left: 30px;
  
}

.work-headings {
    text-align: center;
    font-size: 17px;
    color: #a4a4a4;
    font-family: ebrima, arial, helvetica, sans-serif;
    margin-bottom: 40px;
    font-weight: 400;
    padding-bottom: 30px;
}

a h3:hover {
    color: #b061a1;
}

a:hover {
    color: #b061a1;
}

/*Footer*/
footer {
    background-color: white;
    text-align: center;
}

.fa:hover {
    color: #b061a1;
}

.fa {
    color: #e9e6e6;
    font-size: 18px;
}

.footer-copywrite {
    font-size: 12px;
    color: #ADA0A6;
    font-family: ebrima, arial, helvetica, sans-serif;
}
.content-wrap {
    margin: 0px 0 50px 60px;
    color: #e9e6e6;
    font-family: ebrima, arial, helvetica, sans-serif;
    font-size: 15px;
}

.footer-copywrite {
    margin-top: 0;
    margin-left: 0px;
    color: #e9e6e6;
}

/*Contact Form*/
.field {
    color: #e9e6e6;
    font-family: ebrima, arial, helvetica, sans-serif;
    font-size: 16px;
}
#contact-form {
    background-color: #6a6363;
}

    #contact-form input[type="text"],
    #contact-form input[type="email"],
    #contact-form textarea {
        width: 100%;
        box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
        -webkit-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
        -moz-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
        border: 1px solid #CCC;
        margin: 10px 0 20px 0px;
        padding: 5px;
        border-radius: 5px;
        font-family: ebrima, arial, helvetica, sans-serif;
        font-weight: 300;
        color: #565454;
    }

label > span {
    color: #e9e6e6;
    font-family: ebrima, arial, helvetica, sans-serif;
    font-weight: 400;
    margin: 20px 0 20px 0px;
    font-size: 18px;
}

label {
    display: block !important;
}

#contact-form button[type="submit"] {
    cursor: pointer;
    width: 20%;
    border: 1px solid #FFF;
    /*background-image: linear-gradient(bottom,#e9e6e6 0%, #b061a1 62%);
    background-image:-moz-linear-gradient(bottom, #e9e6e6 0%, #b061a1 62%);
    background-image:-webkit-linear-gradient(bottom, #e9e6e6 0%, #b061a1 62%);*/
    background-color: #b061a1;
    color: #e9e6e6;
    margin: 0 0 75px 0px;
    padding: 5px;
    border-radius: 5px;
    font-family: ebrima, arial, helvetica, sans-serif;
}

.contact-paragraph {
    width: 300px;
    color: #e9e6e6;
    margin: 75px 0 40px 60px;
    font-family: ebrima, arial, helvetica, sans-serif;
    font-size: 18px;
}

#contact {
    background-color: #6a6363;
}

#contact .heading-topics {
        color: #f1efef;
}

.white-lines {
    text-align: center;
    width: 100px;
    border-top: 1px solid #f1efef;
    margin-top: 15px;
    margin-bottom: 60px;
}
@media (min-width: 768px) {
    .mobile-img {
        display: none;
    }

    .woods-mobile {
        display: none;
    }
}
@media (min-width: 451px) and (max-width:770px){
    html {
        width: 500px;
    }
}
/*/*Media Queries - Mobile*/
@media (max-width: 450px) {

    nav {
        text-align: center;
        padding-top: 5px;
        padding-right: 0px;
        padding-left: 0;
        
        }

    nav a:hover {
        background-color: #b061a1;
        color: #e9e6e6;
        border-radius: 3px;
        }

    nav a {
        padding: 8px;
        padding-top: 10px;
        }

    .desktop-img {
        display: none;
        }

     .woods {
        display: none;
        }

    .woods-mobile {
        margin-bottom: 10px;
        margin-top: 10px;
        }

    .about-text {
        font-size: 20px;
        width: 75%;
        margin-bottom: 10px;
        }
    .icon-section .row {
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
}
   .work-headings {
        
        font-size: 18px;
        margin-bottom: 10px;
        }

    #work .work-img {
        margin-left: 17px;
  
}

    .contact-paragraph {
        margin-top: 0;
        margin-left: 10px;
        }

    .content-wrap {
        margin-top: 0;
        margin-left: 10px;
        }

    .footer-copywrite {
        margin-top: 0;
        margin-left: 0px;
        color: #e9e6e6;
        }
     #contact-form input[type="text"],
    #contact-form input[type="email"],
    #contact-form textarea {
         width: 95%;
     }
}

/*Plus phones with screen size 400px wide*/
@media (min-width: 400px) and (max-width: 766px) {
    #work .work-img {
        margin-left: 30px;
    }
     .icon-section .row {
        padding-left: 0px;
    }
}

}
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}
@media (min-width: 321px) and (max-width: 370px) {
    nav a {
    padding: 7px;
    }
    #work .work-img {
        margin-left: 10px;
    }
    .icon-section .row {
        padding-left: 0px;
    }
}

@media (min-width: 300px) and (max-width: 320px) {
    nav a {
    padding: 5px;
    font-size: 18px;
    }
    navbar {
        padding-top: 10px;
    }
    #work .work-img {
        margin-left: 0;
    }
    .icon-section .row {
        padding-left: 0px;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    html {
        width: 100%;
    }
    #work .work-img {
        margin-left: 0;
    }
     .icon-section .row {
        padding-left: 115px;
    }
}
@media (min-width: 1024px) and (max-width: 1025px) {
    #work .work-img {
        margin-left: 0;
    }
     .icon-section .row {
        margin: 0px;
    }
}

/*Websites Page*/
.dev-work {
    text-align: center;
    font-size: 5px;
    font-family: ebrima, arial, sans-serif;
    font-weight: 600;
    color: #b061a1;
    margin-top: 50px;
    margin-bottom: 20px;
}

.web-design-heading {
    text-align: center;
    font-size: 30px;
    font-family: ebrima, arial, sans-serif;
    font-weight: 500;
    color: #6a6363;
    margin-top: 50px;
    margin-bottom: 50px;
}
.nav-back {
    background-color: #b061a1;
}
.website-exp {
    margin-top: 20px;
    margin-bottom: 100px;
   
}
body {
    background-color: #e9e6e6;
}
.col-lg-4 {
    margin-bottom: 20px;
    margin-top: 20px;
    

}

