/*Color Palette
#6d6c6c - gray
#4c9f70 - green
#ff9b7c - orange
#88a09e - blue
#b88c9e - purple
#f7f6f4 - pearl white
---------------------------*/


/*Navigation
----------------*/
nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 20px;
    padding-bottom: 20px;
}
    nav a {
        display: inline-block;
        padding: 15px 20px;
        text-decoration: none;
        text-transform: lowercase;
        font-weight: 700;
        color: #6d6c6c;
        font-family: sans-serif, monospace;
    }
        nav a:hover {
            color: #ff9b7c;
            text-decoration: none;
        }
/*Mobile Nav*/
.mobile-nav {
    font-size: 50px;
}

/*Background Picture*/
 img {
     margin: auto;
 }
/*About & Work Sections*/
.heading-topics {
    text-align: center;
    font-size: 25px;
    font-family: monotype corsiva, sanchez, serif;
    color: #6d6c6c;
    margin: 5%;
}
.about-text {
    text-align: center;
    font-size: 20px;
    color: #9C9990;
    font-family: ebrima, arial, helvetica, sans-serif;
    margin: 5%;
   
}
.service-headings {
    text-align: left;
    font-size: 20px;
    color: #6d6c6c;
    font-family: ebrima, arial, helvetica, sans-serif;
    margin: 5%;
}
.services-text {
    text-align: left;
    font-size: 15px;
    color: #f7f6f4;
    font-family: ebrima, arial, helvetica, sans-serif;
    margin: 5%;
    padding-bottom: 30px;
}
#services h1 {
    color: #f7f6f4;
}

#services {
    background-color: #ff9b7c;
    margin: 0;
}
.work-headings {
    text-align: center;
    font-size: 15px;
    color: #6d6c6c;
    font-family: ebrima, arial, helvetica, sans-serif;
    margin: 5%;
    padding-bottom: 30px;
}
#work {
    background-color: #f7f6f4;
    margin: 0;
}

/*Insta section*/
#insta {
    background-color: #f7f6f4;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
#insta > img {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#insta .col-lg-3 {
    padding: 0;
    }
    /*Footer*/
    footer {
        background-color: white;
        text-align: center;
    }
.fa:hover {
    color: #F9E7E7;
}

.fa {
    color: #ADA0A6;
    font-size: 18px;
}
.footer-copywrite {
    font-size: 12px;
    color: #ADA0A6;
    font-family: ebrima, arial, helvetica, sans-serif;
}


/*Web Design Page*/
.website-exp {
    background-color: #DED6D6;
}
@media (max-width: 500px) {

}